payments:
    paypal_express_checkout:
        factory: paypal_express_checkout
        options:
            username: foo
            password: bar
            signature: baz
            sandbox: true
    stripe_js:
        factory: stripe_js
        options:
            publishable_key: pk_test_CHXb4QMWMv9dCqBZaXpUULyl
            secret_key: sk_test_LwdYAFTlciJL5WzULQjzgC1p
    stripe_checkout:
        factory: stripe_checkout
        options:
            publishable_key: pk_test_CHXb4QMWMv9dCqBZaXpUULyl
            secret_key: sk_test_LwdYAFTlciJL5WzULQjzgC1p
storages:
    order:
        modelClass: Payum\Server\Model\Order
        idProperty: number
        factory: filesystem
        options:
            storageDir: '%payum.root_dir%/storage'
    security_token:
        modelClass: Payum\Server\Model\SecurityToken
        idProperty: hash
        factory: filesystem
        options:
            storageDir: '%payum.root_dir%/storage'
