version: '2'

services:
  payum-server:
    image: payum/payum-server
    environment:
      - PAYUM_MONGO_URI=mongodb://mongo:27017/payum_server
    links:
      - mongo

  mongo:
    image: mongo
    container_name: payum-mongo
