version: '2'
services:
  web:
    build: .
    container_name: payum
    environment:
      - PAYUM_MONGO_URI=mongodb://mongo:27017/payum_server
      - PAYUM_DEBUG=1
      - VIRTUAL_HOST=payum.dev
      - CUSTOM_DIR=/payum
    volumes:
      - .:/payum
    ports:
      - "80:80"
    links:
      - mongo

  mongo:
    image: mongo
