<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Payum Server Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <!-- the value is the FQCN of the application kernel -->
        <env name="KERNEL_CLASS" value="App\Kernel" />
        <env name="TEST_PAYUM_MONGO_URI" value="mongodb://mongo/payum_server_test" />
        <env name="PAYUM_HTTP_HOST" value="http://payum-server-symfony.local" />
        <env name="PAYUM_SERVER_NAME" value="payum-server-symfony.local" />
        <env name="PAYUM_NGINX_PORT" value="8080" />
        <env name="TEST_PAYUM_MONGO_DATABASE" value="payum_server_test" />
    </php>
</phpunit>